.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #4B9DB4FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.active-menu {
    background: #4B9DB4FF;
    color: white;
}

.align-left {
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.width-80 {
    width: 80%;
}

th {
    border: 1px solid grey;
    background-color: #4B9DB4FF;
}

td {
    border: 1px solid grey;
    background-color: #7fa6b0;
    vertical-align: text-bottom;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

button {
    font-size: large;
    width: 100%;
}
