<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>2x2</title>
    <style>
        body {text-align: center;}
        button {
            font-size: large;
            width: 150%;
        }
    </style>
</head>
<body>
<br>
<h2>Привет, [[${#httpServletRequest.remoteUser}]]!</h2>
<h3>Добро пожаловать в <a th:href = "@{/index.html}">приложение</a>!</h3><br><br>
<form th:action = "@{/logout}" method = "post">
    <input type = "submit" value = "Выйти"/>
</form>
</body>

</html>